body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e3f2fd; /* Светло-голубой фон */
  font-family: Arial, sans-serif;
}

.hello-text {
  color: #0d47a1; /* Тёмно-синий текст */
  font-size: 2em;
}